{% include "base.html" %}
{% block content_block %}
    <div class="starter-template">
        <h1>{{ app_name }}</h1>

        <p class="lead">Wecome to {{ app_name }}!</p>

        <p> It is {{ current_date }}. What a day to be alive. </p>

        <p> It is only {{ current_time }} Eastern. So much time left in the day!</p>

        <p><b>X values: </b>{{ X }}</p>

        <p><b>Y values: </b>{{ Y }}</p>

        <p><b>Model metadata: </b>{{ model }}</p>

        <p><b>Model score: </b>{{ score }}</p>

        <p><b>Prediction on [5.3,5.6,8.9,9.0]: </b>{{ prediction }}</p>

    </div>
{% endblock %}

