{% include "base.html" %}
{% block content_block %}
    <div class="starter-template">
        <h1>{{ app_name }}</h1>

        <p class="lead">Predict with {{ app_name }}!</p>

        <p>Try out our classifier with all your own Iris Data right here at irisfinder!</p>

        <p>And by the way, your lucky number today is {{ random_number }}! Hot dog!</p>

        <form name="classifier_submission" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="text" name="species" value="{{ species }}" hidden/>
            <input type="number" name="item_pk" value="{{ item_pk }}" hidden/>
            {% if submit %}
                <input class="btn-primary btn" type="submit" name="submit" value="Submit!"/>
            {% elif verify %}
                <p>The classifier predicted that your flower is of species:</p>
                <p><h2>{{ prediction }}</h2>.</p>
                <input class="btn-primary btn" type="submit" name="verified" value="Yes, that's right!"/>
                <input class="btn-danger btn" type="submit" name="invalidated" value="No, that's not right"/>
            {% else %}
                <p><h2>Thank you!</h2></p>
                <p><a href="predict">Click here to submit another.</a></p>
            {% endif %}
        </form>

    </div>
{% endblock %}

